# Ignore node_modules
node_modules

# Ignore logs
npm-debug.log
yarn-debug.log

# Ignore env files
.env
.env.local
.env.*.local

# Ignore build paths
dist
build

# Ignore git files
.git
.gitignore

# Ignore docker files
Dockerfile
.dockerignore

# Ignore ide files
.vscode
.idea

# Ignore os temporary files
.DS_Store
Thumbs.db