---
import Layout from '../layouts/Layout.astro';
import Tvlive from '~/components/tvlive.astro';
import Intro from "~/components/intro.astro";
import Features from "~/components/features.astro";
---

<Layout>
	<div class="space-y-24 px-8 py-32">
		<Tvlive />
		<Intro />
		<Features />
    </div>
</Layout>
