---
import { Icon } from "astro-icon/components";
---

<section id="live">
    <h2 class="text-2xl tg-text font-bold text-center my-4"><Icon name="mdi:television-play" style="color: #1986c9;" class="inline" /> EN VIVO</h2>
    <div class="text-center">
        <Fragment slot="lead">
            Página en <span class="tg-color">mantenimiento</span>. Regresamos en breve.
        </Fragment>
    </div>
</section>
